<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #sidenav
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    class="sidebar"
  >
    <app-sidebar (navClicked)="onNavClicked(sidenav)"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    @if (isHandset$ | async) {
      <mat-toolbar class="mobile-toolbar">
        <span class="toolbar-title">AttendVision</span>
      </mat-toolbar>
    }
    <main [class.has-bottom-nav]="isHandset$ | async">
      <router-outlet></router-outlet>
    </main>
    @if (isHandset$ | async) {
      <app-bottom-nav></app-bottom-nav>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
