<div class="assign-dept-users-dialog">
  <h2>Assign Users to Department</h2>
  <div class="dept-name-label">Department: <span class="dept-name">{{ data.departmentName }}</span></div>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="user-list-container" *ngIf="!loading">
    <mat-selection-list [multiple]="true" (selectionChange)="onSelectionChange($event)">
      <mat-list-option *ngFor="let user of allUsers" [value]="user.id" [selected]="assignedIds.has(user.id)">
        {{ user.firstName }} {{ user.lastName }}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="actions">
    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</div>
