<div class="sidebar-container">
  <div class="sidebar-header">
    <mat-icon>assessment</mat-icon>
    <span>AttendVision</span>
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/reports" routerLinkActive="active-link">
      <mat-icon matListItemIcon>description</mat-icon>
      <span matListItemTitle>Reports</span>
    </a>
    <a mat-list-item routerLink="/departments" routerLinkActive="active-link">
      <mat-icon matListItemIcon>business</mat-icon>
      <span matListItemTitle>Departments</span>
    </a>
  </mat-nav-list>
  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item routerLink="/login">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Logout</span>
    </a>
  </mat-nav-list>
</div>
